DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
REDIS_URL=redis://localhost:6379
BETTER_AUTH_SECRET=mD2aXiVYNWBUZMOaZZhmslVMVP8v1rDS
BETTER_AUTH_URL=http://localhost:4000
ENABLE_REDIS=false